@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



*{
    margin:0;
    font-family: 'Lexend',sans-serif;

}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom,rgb(78, 0, 0),rgb(141, 0, 0),rgb(78, 0, 0));
    color: white;
    position: relative;

}

/*Parte do nav-bar*/

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 7px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
}

nav .iconeNav, nav a{
    color: rgb(231, 231, 231);
    text-decoration: none;
}

nav .iconeNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 2px;
    padding: 10px 15px 10px 15px;
}

.iconeNav h6{
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1px;
}

.botaoNav{
    font-size: 25px;
    transition: 0.1s ease-in-out;
}
.add{
    margin-bottom: 20px;
    font-size: 35px;
    color: yellow;
}

.add a{
    color: rgb(211, 163, 7);
}

.perfilUsuario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.perfilUsuario a{
    font-size: 25px;
    color: rgb(231, 231, 231);
}

.perfilUsuario h6{
    font-size:11px ;
    letter-spacing: 1px;
}

.iconeNav:hover, .perfilUsuario:hover{
    background-color: rgba(78, 0, 0, 0.74);
    transition: background-color 0.3s ease;
}

.botaoNav:active{
    transform: scale(0.9);
}
/*A parte do main*/

main{
    position: absolute;
    width: 93%;
    min-height: 100%;
    right: 0;
    top: 20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.campoOpcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    gap: 20px;

}

/* .campoPropaganda{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
} */

.campoBusca{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.tituloBusca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloBusca > p{
    background-image: linear-gradient(to bottom,rgb(78, 0, 0),rgb(184, 0, 0));
    font-size: 35px;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opcoesBusca{
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius:13px;
    margin-top: 20px;
    gap: 10px;
}

.opcoesBusca button{
    padding: 7px 10px;
    border-radius: 13px;
    background-color: rgb(145, 0, 0);
    box-shadow: 0 0 5px rgba(78, 0, 0, 0.432);
    color: white;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.opcoesBusca button:hover{
    background-color: rgb(175, 12, 12);
    cursor: pointer;
    transform: scale(1.05);

}

.itemBusca{

}

.itemBusca #inputBusca{
    padding: 25px 25px;
    border-radius: 18px;
    border: 2px solid rgb(151, 0, 0);
    width: 800px;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(78, 0, 0, 0.5);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#inputBusca:hover, #inputBusca:focus{
    box-shadow: 0 0 25px rgba(150, 1, 1, 0.726);
}


.campoAtalhos{
    border: 1px solid red;
    width: 90%;
    height: 70px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 50px;
}

.iconeAtalhos{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: transform 0.3s ease;
}

.mudarTamanho{
    font-size: 25px;
    transition: 0.2s ease-in-out;

}

#iconeAtalhos1{
    background-color: rgb(255, 88, 88);
}

#iconeAtalhos2{
    background-color: rgb(209, 160, 255);
    color: rgb(99, 2, 190);
    
}

.iconeAtalhos:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.iconeAtalhos:hover .mudarTamanho{
    font-size: 30px;
}