*{
    margin:0;

}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(78, 0, 0);
    color: white;
    position: relative;

}

/*Parte do nav-bar*/

header{
    border: 2px solid green;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    padding: 10px 20px 10px 20px;
    border: 1px solid aqua;
    font-size: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

.add{
    margin-bottom: 10px;
    font-size: 30px;
}

.perfilUsuario{
    margin-bottom: 20px;
    border: 1px solid green;
    padding: 10px 20px 10px 20px;
}

/*A parte do main*/

main{
    display: none;
    position: absolute;
    width: 95%;
    min-height: 100%;
    right: 0;
    top: 20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: white;
}
