*{
    margin:0;

}

body,html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(78, 0, 0);
    color: white;
    display: flex;
    justify-content: flex-end;

}



header{
    border: 2px solid green;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    
}

main{
    width: 90%;
    background-color: white;
}
